<div class="bg-white max-h-[100px]">

  <div class="absolute bottom-0 right-0 overflow-hidden lg:inset-y-0 h-full">
    <img 
      class="w-auto h-full" 
      src="https://d33wubrfki0l68.cloudfront.net/1e0fc04f38f5896d10ff66824a62e466839567f8/699b5/images/hero/3/background-pattern.png" 
      alt="" 
    />
  </div>

  <%= render 'shared/header-2' %> 
  <%# <%= render 'shared/header' %> 

  <div class="relative isolate px-6 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
    </div>

    <div class="mx-auto max-w-1xl py-14 sm:py-48 lg:py-22">
      <%= render 'shared/landing_text_bubble' %>

      <div class="text-center max-w-3xl mx-auto sm:max-w-md md:max-w-full mb-13">
        <h1 class="text-4xl font-semibold leading-[4rem] text-gray-900 sm:text-5xl sm:leading-tight lg:text-[3.6rem] lg:leading-[4rem] font-pj mb-0">
          Stop Rereading, Start Remembering
        </h1>
        <h1 class="text-center text-4xl font-semibold leading-[4rem] text-gray-900 sm:text-5xl sm:leading-tight lg:text-[3.6rem] lg:leading-[4rem] font-pj mb-0"> Transform Your
          <span class="bg-gradient-to-r from-indigo-400 to-pink-600 bg-clip-text text-transparent">
            Study Notes
          </span>
          
          <div class="mt-0">
            into
            <span class="relative mt-3 whitespace-nowrap text-blue-600">
              <%= render 'shared/svg_hero_icon' %>
              <span class="relative">Quizzes</span>
            </span>
            in Seconds.
          </div>
        </h1>
      </div>
      <%= render 'shared/upload_form' %>
    </div>

    <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
    </div>
  </div>
</div>
